.inputWrapper {
  display: flex;
  flex-direction: row;
  grid-template-rows: 200px, 200px, 200px;
  justify-content: center;
  align-items: center;
}

.primary {
  border: 1px solid #dfdfdf;
  width: 600px;
  height: 55px;
  border-radius: 10px;
  font-size: 16px;
}

.container1 {
  /* border: 1px solid green; */
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  /* border: 1px solid red; */
  width: 400px;

  display: grid;
  flex-direction: column;
}

.titleContainer {
  width: 100%;
  display: grid;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.title div {
  color: red;
}

.container3 {
  /* border: 1px solid blue; */
  width: 150px;
  height: 30px;

  display: flex;
  flex-direction: row;
  gap: 10px;

  align-items: center;
  justify-content: center;
}

.container3 button {
  height: 30px;
  font-size: 12px;
}

input::placeholder {
  color: #a1a1a1;
}

.maxInput,
.delete {
  font-size: 12px;
}

.delete {
  background-color: black;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWrapper:focus-within {
  border: 1px solid green;
}

input {
  border: none;
}

input:focus {
  outline: none !important;
}

.labelButton {
  background-color: green;
  color: white;
  border: none;
  width: 50px;
  height: 60px;
  border-radius: 4px;
}
