body.disable-scroll {
  overflow: hidden;
}

.body-container {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.body-container .overlay {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.7);
}

.body-container .wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* z-index: 2; */
  /* transform:translate(-50%, -50%) scale(0); */
}

.body-container .wrapper .content-wrapper {
  width: 400px;
  height: 200px;
  background: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 50px;
}

.modalBody-container {
  height: 320px;
  overflow-y: scroll;
}

.closeButton {
  cursor: pointer;
}
/* .body-container.active .overlay{
    display: block;
}

.body-container.active .wrapper{
    transition:all 300ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);
} */
